header {
	background-color: #5b7989;
	border-radius: 10px 10px 0px 0px;
}

header h1{
	text-align:left;
	color:white;
	text-shadow: 2px 2px #02010a;
}

#menu > a{
	color: white;
}
#menu > #inicio{
	text-decoration: none;
}

@media (min-width:900px)
{
	#menu{
		margin-top: 10px;
		margin-right: 10px;
		float: right;
	}
}

#contenido{
	background-color: #82c3a6;
	align-items: center;
	display: flex;
	flex-direction: column;
}

body {
	margin: 20px;
	background-color: black;
	color: white;
	font-family: Raleway;
	text-align: center;
}

#contenido2{
	background-color: #d5c75f;
	border: 1px;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin 20px;
	padding: 10px;

}
#contenido2 > div{
	margin: 20px;
}
#imagen2 > img:hover{
  transform:rotate(10deg);
  -webkit-filter: grayscale(70%); /* Chrome, Safari, Opera */
	filter: grayscale(70%);

}

#imagen3 > img:hover{
	-webkit-filter: grayscale(70%); /* Chrome, Safari, Opera */
	filter: grayscale(70%);

}

footer {
	margin-top: 10px;
	padding-top: 10px;
	text-align: center;
}

.contenedor {
	display: flex;
	flex-direction: row;
}

img{
	border: 2px solid white;
	width: 200px;
}

.contenedor > div {
	text-align: center;
	padding: 10px;
	margin: 10px;
	width: 50%;
}

#imagen1 img{
/*	-webkit-filter: grayscale(70%); /* Chrome, Safari, Opera */
/*	filter: grayscale(70%); */
}

#imagen2 img{
/*	-webkit-filter: blur(5px); /* Chrome, Safari, Opera */
/*	filter: blur(5px); */
}

#imagen3 img{
/*	-webkit-filter: invert(50%); /* Chrome, Safari, Opera */
/*	filter: invert(50%);*/
}

#imagen4 img{
	-webkit-filter: sepia(40%); /* Chrome, Safari, Opera */
	filter: sepia(40%);
}
